<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/loginLayout.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<title>ログイン</title>
</head>

<body>
	<div th:replace="~{common/layout :: header}"></div>

	<main class="login_container">
		<div class="login_box">
			<h3>ログイン</h3>

			<form th:action="@{/login}" th:object="${loginForm}" method="post">
				<div th:if="${errMessage}" class="error-message" th:text="${errMessage}"></div>

				<div class="login_form">
					<div class="login_label">社員ID</div>
					<div class="login_input">
						<div th:if="${#fields.hasErrors('empId')}"
							 th:errors="*{empId}"
							 class="field-error"></div>
						<input type="text" th:field="*{empId}" />
					</div>
				</div>

				<div class="login_form">
					<div class="login_label">パスワード</div>
					<div class="login_input">
						<div th:if="${#fields.hasErrors('empPass')}"
							 th:errors="*{empPass}"
							 class="field-error"></div>
						<input type="password" th:field="*{empPass}" />
					</div>
				</div>

				<div class="login_button_area">
					<input type="submit" value="ログイン" />
				</div>
			</form>
		</div>
	</main>
</body>

</html>