@charset "UTF-8";

.fc_red {
	color: crimson;
}

.front_label_color {
	background-color: rgb(26, 11, 134);
	color: White;
}

.fc_white {
	color: White
}


.body {
	max-width: 1280px;
	margin: auto;
	padding: 100px;
}

.table-buttons {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	/* 横並び */
	justify-content: flex-end;
	/* 右寄せ */
	gap: 8px;
	/* ボタンの余白 */
}


.borrow-table th {
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: rgb(26, 11, 134);
	color: White;

}

/*シリアルナンバー*/
.col-serial {
	width: 18%;
	text-align: center;
}

/*使用者 */
.col-user {
	width: 15%;
	text-align: center;
}

/*貸出可否*/
.col-status {
	width: 8%;
	text-align: center;
}

/*貸出開始日*/
.col-start {
	width: 12%;
	text-align: center;
}

/*返却予定日*/
.col-limit {
	width: 12%;
	text-align: center;
}

/*最終所在確認*/
.col-check-location {
	width: 11%;
	text-align: center;
}

/*備考*/
.col-remarks {
	width: 22%;
	text-align: left;
}

/*チェックボックス*/
.col-check {
	width: 3%;
	text-align: center;
}

.borrow-table th,
.borrow-table td {
	text-align: center;
	vertical-align: middle;
}

.borrow-table td.col-remarks {
	text-align: left;
}

.title {
	background: #fed;
	color: #321;
	padding-left: 12px;
	border-left-color: #963;
	/* 左の枠線の色 */
	border-left-style: solid;
	/* 左の枠線の種類 */
	border-left-width: 8px;
	/* 左の枠線の太さ */
}

/* 貸出ボタンのスタイル */
.borrowingButton {
	background: rgb(20, 115, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 100px;
	height: 30px;
	padding: 6px 14px;
	font-family: sans-serif;
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-align: center;
	overflow-wrap: anywhere;
	border: 2px solid rgb(94, 94, 94);
}

/* 返却ボタンのスタイル */
.returnButton {
	background: rgb(255, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 100px;
	height: 30px;
	padding: 6px 14px;
	font-family: sans-serif;
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-align: center;
	overflow-wrap: anywhere;
	border: 2px solid rgb(94, 94, 94);
}

/* 一覧戻るボタンのスタイル */
.indexReturnButton {
	background: rgb(3, 187, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 150px;
	height: 30px;
	padding: 6px 14px;
	font-family: sans-serif;
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-align: center;
	overflow-wrap: anywhere;
	border: 2px solid rgb(94, 94, 94);
}

/*戻るボタンのスタイル */
.returnToTopButton {
	background: rgb(3, 187, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 100px;
	height: 30px;
	padding: 6px 14px;
	font-family: sans-serif;
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-align: center;
	overflow-wrap: anywhere;
	border: 2px solid rgb(94, 94, 94);
}

/*テーブルのスクロール*/
.table-wrapper {
	max-height: 300px;
	overflow-y: auto;
	/* 縦スクロール */
	overflow-x: hidden;
	/* 横スクロール */
}

/*貸出返却がない時*/
.no-data {
	display: flex;
	/* Flexboxを有効化 */
	justify-content: center;
	/* 左右中央揃え */
	align-items: center;
	/* 上下中央揃え */
	color: crimson;
}

/*処理完了*/
.success-message {
	display: flex;
	/* Flexboxを有効化 */
	justify-content: center;
	/* 左右中央揃え */
	align-items: center;
	/* 上下中央揃え */
	color: blue;
}