<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー更新確認</title>
</head>
<body>

<h2>更新内容確認</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <td th:text="${userRegistForm.staffNo}"></td>
    </tr>
    <tr>
        <th>名前</th>
        <td th:text="${userRegistForm.name}"></td>
    </tr>
    <tr>
        <th>権限</th>
        <td th:text="${authMaster.authName}"></td>
    </tr>
</table>

<!-- 完了へ -->
<form th:action="@{/user/update/complete}" method="post">
    
    <!-- hiddenで値を持たせる-->
    <input type="hidden" name="staffNo" th:value="${userRegistForm.staffNo}" />
    <input type="hidden" name="name" th:value="${userRegistForm.name}" />
    <input type="hidden" name="auth" th:value="${userRegistForm.auth}" />
    <input type="hidden" name="oldStaffNo" th:value="${userRegistForm.oldStaffNo}" />
	<input type="hidden" name="password" th:value="${userRegistForm.password}" />
    <button type="submit">更新する</button>
</form>

<!-- 戻る -->
<form th:action="@{/user/update/input/{staffNo}(staffNo=${userRegistForm.staffNo})}" method="get">
    <button type="submit">戻る</button>
</form>

</body>
</html>